<!DOCTYPE html>
<html>
<head>
  <title>DBYCZ.IO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato:100|Raleway:100|Quicksand:300" rel="stylesheet">
</head>
  <body>
    <div class="container">
      <h1 class="logo">DBYCZ.IO</h1>
      <p class="logodesc">Daniel Byczynski - Web Application Developer</p>
      <hr class="clear" />
      <div class="col-lg-2">
        <ul>
<<<<<<< HEAD
          <li class="sidelink"><%= active_link_to "ABOUT", 'welcome', :active => true %></li>
          <li class="sidelink"><%= active_link_to "PROJECTS", 'projects', :active => true %></li>
          <li class="sidelink"><%= active_link_to "SKILLS", 'skills', :active => true %></li>
          <li class="sidelink"><%= active_link_to "CONTACT", 'contacts', :active => true %></li>
=======
          <li class="sidelink"><%= link_to "ABOUT", root_path %></li>
          <li class="sidelink"><%= link_to "PROJECTS" %></li>
          <li class="sidelink"><%= link_to "SKILLS" %></li>
          <li class="sidelink"><%= link_to "CONTACT" %></li>
>>>>>>> parent of 214c95c... Set up navigation and main pages
        </ul>
      </div>
      
      <div class="col-lg-10">
        <%= yield %>
      </div>


    </div>
  </body>
</html>
